.lp {
  background-color: #F6F7F9;
  width: 100%;
  padding: 150px 0px 150px 0px;
}

.lp .text-box span {
  color: #3BBCA7;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.lp .text-box h1 {
  width: 80%;
  margin-top: 7px;
  color: #072F60;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
}

.lp .text-box p {
  color: #6E6F6F;
  width: 75%;
  font-weight: 500;
  margin-top: 30px;
}

.lp .text-box a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-top: 15px;
  display: inline-block;
  background-color: #3BBCA7;
  padding: 11px 18px;
  text-align: center;
  border-radius: 3px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.lp .text-box a:hover {
  background-color: #072F60;
}

.lp .photoss img {
  padding: 15px;
}

.lp-menu {
  width: 100%;
  background-color: #072F60;
  padding: 40px 0;
}

.lp-menu img {
  width: 60px;
}

.lp-menu .menu-text {
  margin: 10px 0 0 25px;
}

.lp-menu .menu-text h6 {
  color: white;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 22px;
}

.lp-menu .menu-text span {
  color: white;
  font-size: 15px;
}

.lab {
  margin-top: 60px;
}

.lab .lab-top a {
  text-decoration: none;
  color: #3BBCA7;
  padding: 12px 18px;
  border: 1px solid #3BBCA7;
  border-radius: 3px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.lab .lab-top a:hover {
  background-color: #3BBCA7;
  color: white;
}

.lab .lab-top h1 {
  color: #072F60;
  font-size: 36px;
  font-weight: 700;
}

.lab .lab-down {
  margin-top: 50px;
}

.lab .lab-down .design {
  background-color: #f6f7f9;
  border-radius: 5px;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.lab .lab-down .design:hover {
  background-color: #072F60;
  color: white;
}

.lab .lab-down .math {
  background-color: #f6f7f9;
  border-radius: 5px;
  height: 95px;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.lab .lab-down .math:hover {
  background-color: #072F60;
  color: white;
}

.lab .lab-down img {
  width: 90px;
  padding: 0 10px 0 30px;
}

.rated {
  margin-top: 80px;
}

.rated .rated-top {
  text-align: center;
}

.rated .rated-top h1 {
  color: #072F60;
  font-weight: bold;
  font-size: 36px;
}

.rated .rated-top h1 span {
  background-color: #FFD24D;
  border-radius: 50px;
}

.rated .rated-down {
  margin-top: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.rated .rated-down .rate-button {
  text-align: center;
}

.rated .rated-down .rate-button .rate-a {
  margin-top: 60px;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 600;
  background-color: #3BBCA7;
  padding: 12px 26px;
  border-radius: 3px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.rated .rated-down .rate-button .rate-a:hover {
  background-color: #072F60;
}

.rated .rated-down .rate-1 {
  width: 300px;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px 5px 0 0;
  margin: 20px 0;
  cursor: pointer;
}

.rated .rated-down .rate-1 .rate-top img {
  width: 300px;
  border-radius: 5px 5px 0 0;
  height: 200px;
}

.rated .rated-down .rate-1 .rate-down {
  padding: 0 25px;
}

.rated .rated-down .rate-1 .rate-down .rate-photo {
  margin-top: 20px;
}

.rated .rated-down .rate-1 .rate-down .rate-photo img {
  width: 35px;
  border-radius: 50px;
}

.rated .rated-down .rate-1 .rate-down .rate-photo span {
  font-size: 15px;
  color: #838383;
  padding-left: 3px;
}

.rated .rated-down .rate-1 .rate-down h6 {
  margin-top: 20px;
  font-size: 18px;
  color: #072F60;
  font-weight: 600;
}

.rated .rated-down .rate-1 .rate-down .rate-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.rated .rated-down .rate-1 .rate-down .rate-button a {
  text-decoration: none;
  color: #3BBCA7;
  font-size: 13px;
  font-weight: bold;
  background-color: rgba(128, 128, 128, 0.086);
  padding: 5px 5px;
  border-radius: 3px;
}

.rated .rated-down .rate-1 .rate-down .rate-button h5 {
  font-weight: 600;
  color: #072F60;
  font-size: 17px;
}

.rated .rated-down .rate-1 .rate-end {
  margin-top: 25px;
  border-top: 1px solid rgba(128, 128, 128, 0.188);
}

.rated .rated-down .rate-1 .rate-end .rate-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.rated .rated-down .rate-1 .rate-end .rate-left .stars i {
  color: #F8CC4B;
  font-size: 14px;
}

.rated .rated-down .rate-1 .rate-end .rate-left .e-book i {
  color: #3BBCA7;
  padding: 5px;
}

.rated .rated-down .rate-1 .rate-end .rate-left .e-book i span {
  color: #838383;
  font-size: 12px;
  padding-left: 10px;
}

.imroz {
  background-image: url(https://thepixelcurve.com/wp/lmsmart/lp/wp-content/uploads/sites/2/2021/11/SPPU2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 90px;
  width: 100%;
}

.imroz h2 {
  padding-top: 100px;
  color: #072F60;
  font-weight: bold;
  margin-bottom: 20px;
  width: 65%;
}

.imroz ul li {
  color: #666666;
  font-size: 16px;
  line-height: 35px;
}

.imroz a {
  text-decoration: none;
  color: white;
  background-color: #3BBCA7;
  padding: 12px 20px;
  font-weight: bold;
  border-radius: 3px;
  margin-top: 10px;
  display: inline-block;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.imroz a:hover {
  background-color: #072F60;
}

.to-top {
  background: white;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border-radius: 50%;
  font-size: 32px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.to-top.active {
  opacity: 1;
  bottom: 32px;
  pointer-events: auto;
}

.footer {
  width: 100%;
  background-color: #141948;
}

.footer .footer-inside {
  width: 90%;
  margin: auto;
}

.footer .footer-inside img {
  width: 160px;
}

.footer .footer-inside p {
  color: #DDDFE3;
  font-size: 16px;
  padding-top: 20px;
}

.footer .footer-inside .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-inside .icons i {
  color: #3BBCA7;
  width: 35px;
  margin-right: 10px;
  height: 35px;
  font-size: 14px;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #3BBCA7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.footer .footer-inside .icons i:hover {
  color: #fff;
  background-color: #3BBCA7;
}

.footer .footer-inside ul i {
  color: #3BBCA7;
  padding-right: 10px;
}

.footer .footer-inside ul h5 {
  color: #fff;
  margin-bottom: 20px;
}

.footer .footer-inside ul li {
  margin-bottom: 10px;
}

.footer .footer-inside ul li a {
  text-decoration: none;
  color: #DDDFE3;
}

.footer .footer-inside ul li a:hover {
  text-decoration: underline;
}

.footer .footer-inside .contact-ul ul li a:hover {
  text-decoration: none;
}

.footer .faq {
  border-top: 1px solid rgba(128, 128, 128, 0.425);
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: 60px;
}

.footer .faq h6 {
  padding: 20px 0;
  color: #DDDFE3;
  font-size: 15px;
  font-weight: 400;
}

.to-top {
  background: white;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border-radius: 50%;
  font-size: 32px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.to-top.active {
  opacity: 1;
  bottom: 32px;
  pointer-events: auto;
}

@media (max-width: 576px) {
  .footer .footer-inside img {
    padding-top: 40px;
  }
  .footer .footer-inside p {
    width: 90%;
  }
  .footer .footer-inside .icons {
    padding-top: 10px;
  }
  .footer .footer-inside ul {
    padding-top: 40px;
  }
}

@media (max-width: 768px) {
  .footer .footer-inside ul {
    padding-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */